*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: #FD6E0A;
}
.primary-background{
    background-color: #FD6E0A;
    color: #fff;
}
/* header & navegation styles */
header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav{
    padding: 40px 225px;
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav .nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
}
nav .nav-menu li{
    padding: 0 51px;
}
nav li{
    color:#474747;
    font-size: 20px;
    font-weight: 400;
}
nav .primary-btn{
    padding: 18px 35px;
    font-size: 20px;
    color: #fff;
    background-color: #FD6E0A;
    border: none;
    font-weight: 700;
    border-radius: 5px;
}


/* banner title */

.banner{
    display: flex;
    align-items: center;
    padding:0 200px;
}
.banner-image {
    position: relative;
    top: 0;
    right: -507px;
}
.developer {
    position: relative;
    top: 0;
    right: 1333px;
  }
.banner-title h3{
    font-size: 45px;
    font-weight: 600;
    width: 177px;
    color: #474747;
}
.banner-title h1{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    width: 548px;
    margin: 25px 0;
}
.banner-title p {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
    width: 571px;
  }
.btn-1{
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 18px 17px;
    width: 200px;
    font-weight: 700;
    margin-right: 30px;
}
.btn-2{
    /* border: none; */
    border-color:2px solid #FD6E0A;
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
    width: 200px;
    padding: 18px 17px;
    color: #FD6E0A;
    font-weight:700;
}

/* main section */
main{
    max-width: 1140px;
    margin: 110px auto;
}
/* about section */
.about{
    padding: 120px 150px;
    background-color: #FFF8F3;
    border-radius: 5px;
}
.section-title{
    font-weight: 700 ;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.section-description{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}
.info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.info-text{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
    text-align: center;
    margin-bottom: 10px;
}
.info-dec{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* what do section */
.what-do{
   width: 1140px;
   margin: 120px auto;
}
.what-text{
    width: 909px;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 50px;
    margin: 0 auto;
    text-align: center;
}

/* what i do's card section */

.card-bar{
    display: flex;
    justify-content: space-between;
    margin: 50px 0; 
    gap: 24px;
}
.card{
background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 30px 30px;
}
.card-title{
    font-weight: 700;
    font-size: 20px;
    margin: 25px 0;
}
.card-text{
    color: #757575;
    font-size: 16px;
    width: 201px;
}

/* resume related styles */

.resume-content{
    display: flex;
    margin-top: 130px;
    gap: 24px;
}
.resume-h1{
    font-size: 30px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 30px;
}
.resume-h2{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;
    margin-top: 30px;
}
.resume-h4{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}
.resume-text{
    font-size: 16px;
    font-weight: 40;
    color: #757575;
    padding: 25px 0;
    border-bottom: 1px solid #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    padding: 18px 18px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    margin: 50px 479px;
    width: 200px;
}

.section-footer{
    text-align: left;
}
.contact{
    display: flex;
    background-color: #FFF8F3;
    padding: 120px 130px;
    gap: 110px;
}
.contact p{
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    margin: 25px 0;
    width: 363px;
}
.contact a{
    text-decoration: none;
    margin-right: 24px;
}
input {
    height: 42px;
    width: 442px;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 400;
    padding: 18px 23px;
    border-radius: 5px;
    border: 0;
    color: #757575;
}
textarea{
    width: 440px;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    padding: 18px 23px;
    border: 0;
    border-radius: 5px;
}
.form-btn{
    background-color: #FD6E0A;
    margin-top: 24px;
    padding: 20px 40px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    width: 200px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
/* foooters section */

